In [1]:
from fish_helpers import *
base_path = '/bigstore/GeneralStorage/Zach/MERCI/Autism/'

In [4]:
MeA_Neurons_DGE_cluster = pd.read_csv(os.path.join(base_path,'MeA_Neurons_DGE_cluster.csv'))
MeA_Neurons_DGE_cluster

       Unnamed: 0  V1
0               1  14
1               2  10
2               3  10
3               4  10
4               5   2
5               6   2
6               7  10
7               8  12
8               9  10
9              10   7
10             11   2
11             12  10
12             13   3
13             14  11
14             15   7
15             16  10
16             17   5
17             18   7
18             19   1
19             20   3
20             21   1
21             22   7
22             23   1
23             24   7
24             25  11
25             26   3
26             27   1
27             28   2
28             29   7
29             30   1
...           ...  ..
10093       10094  13
10094       10095   1
10095       10096   1
10096       10097  15
10097       10098   1
10098       10099   1
10099       10100   1
10100       10101   2
10101       10102   1
10102       10103  13
10103       10104  10
10104       10105  10
10105       10106  11
10106       10107   1
10107       10108   1
10108       10109  13
10109       10110   4
10110       10111  10
10111       10112   8
10112       10113  10
10113       10114  13
10114       10115   1
10115       10116   1
10116       10117   1
10117       10118   2
10118       10119   2
10119       10120   1
10120       10121   1
10121       10122   1
10122       10123   2

[10123 rows x 2 columns]

In [ ]:
MeA_AllCells_DGE = pd.read_csv(os.path.join(base_path,'MeA_AllCells_DGE.csv'))
MeA_AllCells_DGE.head()

In [ ]:
len(MeA_AllCells_DGE)